.button {
	position: fixed !important;
	top: 0;
	left: 0;
	z-index: 3;
	display: none !important;
	margin-left: 10px;
	margin-top: 15px;
	padding: 0;
	font-size: 30px !important;
	cursor: pointer;
}

.close {
	color: red !important;
	margin: 10px auto;
	cursor: pointer;
}

@media (max-width: 800px) {
	.button {
		display: block !important;
	}
}