.button {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 3;
	display: none;
	margin-left: 10px;
	margin-top: 10px;
	padding: 0;
	width: 25px !important;
}

@media (max-width: 800px) {
	.button {
		display: block
	}
}