body {
	text-align: center;
	background: url('./assets/san-fran.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.app-div {
	background-color: green;
}